body {
  margin: 0;
  padding: 0;
  background-color: #010c14;
  height: 200vh;
}
@keyframes pic-fade {
  from {
    scale: 0.8;
    opacity: 0;
  }
  to {
    scale: 1;
    opacity: 1;
  }
}
div {
  height: 800px;
}

.image {
  animation-timeline: view();
  animation: pic-fade linear;
}
