body {
  background-color: #001222;
  margin: 0;
  padding: 0;
  text-align: center;
  height: 100vh;
}
.spacer {
  width: 100%;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.layer1 {
  background-image: url("background_corners.svg");
}
.navigation_lines {
  position: fixed;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.headline {
  color: rgb(235, 235, 235);
  font-size: 18pt;
  text-align: center;
  justify-content: center;

  top: 30%;
  width: 100%;
}
.unter {
  color: rgb(235, 235, 235);
  font-size: 18pt;
  text-align: center;
  justify-content: center;
  top: 40%;
  width: 100%;
}
#unterschrift {
  font-size: 16pt;
  color: aliceblue;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  padding: auto;
}
#skeleton {
  animation: fadeInUp 1s;
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(-50%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
#mainbutton {
  height: 30px;
  width: 50px;
  text-align: left;
  margin: 0 auto;
  font-size: 20pt;
  color: aliceblue;
}
#mainbutton:hover {
  transition: all 1s ease;
  cursor: pointer;
  scale: 1.5;
}
a {
  text-decoration: none;
  color: aliceblue;
}
